<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Url Status</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<form  method="POST"  id="checkbox_form">
    <div id=”content”>
        {% for link in links %}
            <hr>
            {% if link.status == 200 and link.check == True %}<p style="color: green">{{ link.url }}</p>
            {% elif link.check == False %}<p style="color: lightgrey">{{ link.url }}</p>
            {% else %}<p style="color: darkred">{{ link.url }}</p>{% endif %}
            <input type="checkbox" name="link_check" id="{{ link.id }}"
                   value="{{ link.check}}" class="form-control" checked>
        {% endfor %}
    </div>
    <script type="text/javascript">
            $(".form-control").change(function(e){
                e.preventDefault();
                let check = $(this).val();
                let link_id = $(this).attr("id");
                $.ajax({
                    url :`http://127.0.0.1:8000/check/${link_id}/`,
                    type: "POST",
                    data : {csrfmiddlewaretoken: "{{ csrf_token }}", "check": check, "link_id": link_id},
                    dataType : "json",
                    success: function( data ){
                        console.log(data);
                        console.log('SUCCESS');
                        console.log(data[0].fields.check);
                        $(`#${link_id}`).val(data[0].fields.check);
                        if (data[0].fields.check && data[0].fields.status === 200){
                            $(`#${link_id}`).prev("p").css("color","green")
                        } else if (data[0].fields.check === false){
                            $(`#${link_id}`).prev("p").css("color","darkred")
                        }else{
                            $(`#${link_id}`).prev("p").css("color","lightgrey")
                        }

                    }
                });
        })
    </script>
</form>
</body>
</html>
